services:
  backend:
    build: ./backend
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./app:/src/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure  
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d database"]
      interval: 5s      
      timeout: 5s     
      retries: 5  
      start_period: 10s 
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    
  telegram:
    build: ./telegram
    container_name: telegram
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  postgres_data:  